@font-face {
  font-family: ProximaNoVa;
  src: url(./assets/fonts/ProximaNova_Regular.otf);
}
@font-face {
  font-family: ProximaNova;
  src: url(./assets/fonts/ProximaNova_Bold.otf);
  font-weight: bold;
}
.html {
  font-size: 62.5%;
}

.app {
  max-width: 1920px;
  margin: 0 auto;
  color: #2a2a2a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.ul {
  list-style: none;
  padding-left: 0;
}

.a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.nav__left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 11px 130px 12px 0;
}
.nav__left--item {
  margin-right: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.nav__left--title {
  color: #23499f;
  font-weight: bold;
  margin-left: 6px;
}
.nav__right--list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.nav__right--list a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2a2a2a;
  margin-left: 37px;
}
.nav__right--list a:hover {
  color: #0497d8;
}

.header__info {
  background-color: #fff;
}
.header__logo {
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.header__logo--img {
  width: 37px;
  height: 58.5px;
  object-fit: contain;
}
.header__logo h1 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-left: 9px;
  padding-bottom: 2px;
}
.header__search {
  width: 40%;
  height: 48px;
  margin: 24px 60.6px 25px 25px;
  padding: 14.5px 276px 13.5px 16px;
  border-radius: 10px;
  border: solid 2px #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.header__input {
  border: 0;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  flex-grow: 1;
  margin-right: 190px;
  min-width: 220px;
}
.header__button {
  background-color: #23499f;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  padding: 13px 29px 16px 20px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.header__delivery {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 20%;
  height: 48px;
}
.header__delivery--item {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #505050;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 8px;
}
.header__delivery--time {
  font-size: 22px;
  font-weight: 300;
  margin-top: 1px;
}
.header__contact {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.header__contact--phone-number {
  height: 37px;
  margin: 10px 8px 0 2.8px;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2a2a2a;
}
.header__menu {
  width: 100%;
  height: 50px;
  background-color: #3b3a3b;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: white;
}
.header__menu--list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  color: #fff;
}
.header__menu--list > li {
  padding: 16px 35px 15px 39px;
}
.header__menu--list > li :hover {
  color: #0497d8;
}
.header__menu--list a {
  text-decoration: none;
  color: #fff;
}
.header__menu--right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header__menu--home {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: white;
  margin-left: 8px;
}
.header__login {
  padding: 15px 20px 16px 33px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  color: #fff;
}
.header__login:hover {
  cursor: pointer;
  color: #0497d8;
}
.header__cart {
  padding: 14px 7px 15px 34px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  color: #fff;
}
.header__cart:hover {
  cursor: pointer;
  color: #0497d8;
}
.header__order {
  padding: 4.1px 9.6px;
  margin-right: 24px;
  margin-bottom: 6px;
  background-color: #0497d8;
  border-radius: 20px;
}
.header__order--text {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2a2a2a;
  text-align: center;
  color: #fff;
}
.header__order:hover {
  cursor: pointer;
}
.header__mobile--list {
  display: none;
  width: 25%;
}
.header__mobile--icon {
  margin-top: -10px;
  padding: 21px 19px;
}
.header__mobile--line {
  width: 18px;
  height: 2px;
  margin: 6px 0 0;
  background-color: white;
  z-index: 1;
}
.header__mobile--search {
  padding: 19px;
}
.header__mobile--personal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  width: 25%;
  display: none;
}
.header__mobile--user {
  width: 30.5px;
  height: 30.5px;
  object-fit: contain;
  margin: 0px 19px;
}
.header__mobile--cart {
  padding: 21px 19px;
}
.header__mobile--checkbox {
  display: none;
}
.header__mobile--checkbox:checked ~ .header__mobile--overlay {
  display: block;
}
.header__mobile--checkbox:checked ~ .header__mobile--mobile {
  display: block;
  transform: translateX(0%);
}
.header__mobile--overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
.header__mobile--mobile {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  max-width: 100%;
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform linear 0.3s;
  display: none;
  z-index: 1;
}
.header__mobile--mobile--list {
  margin: 42px 0 0 32px;
}
.header__mobile--mobile--list > li {
  margin: 20px 0;
}
.header__mobile--mobile--list a {
  width: 100%;
  text-decoration: none;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2a2a2a;
}
.header__mobile--mobile--list a:hover {
  color: #0497d8;
}
.header__mobile--mobile--list a::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  height: 22px;
  width: 180px;
}
.header__mobile--close--img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.Rectangle {
  background-color: #f6f6f6;
  height: 43px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2a2a2a;
}
.Rectangle__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.Rectangle__phone {
  width: 24.4px;
  height: 24.5px;
  margin: 9.5px 5.8px 3px 0;
  object-fit: contain;
  border: solid 2px #2a2a2a;
}
.Rectangle__container-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.Rectangle__login {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.Rectangle__login:hover {
  cursor: pointer;
}
.Rectangle-161538 {
  width: 100%;
  height: 9px;
  border-radius: 4.5px;
  border: solid 1px #888888;
  position: relative;
}
.Rectangle-161537 {
  position: absolute;
  width: 25%;
  height: 8px;
  border-radius: 4.5px;
  margin: 0;
}
.Rectangle-161120 {
  width: 100%;
  height: 200px;
}

.Path__img {
  width: 62.5px;
  height: 35px;
  margin: 2.5px 17px 5.5px 0px;
}

.Home-Breadcrumbs {
  margin: 25px 0 57px 0;
}
.Home-Category {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #888888;
}
.Home-Contact {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.Contact-Us {
  width: 100%;
  margin: 57px 26px 18px 0;
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: #2a2a2a;
  margin-bottom: 18px;
}

.Product-Selection-Tool {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  gap: 56px;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: left;
  border-bottom: 1px solid #23499f;
  margin-bottom: 35px;
}
.Product-Applications {
  padding-bottom: 10px;
}
.Product-Questions {
  padding-bottom: 10px;
}
.Product-Recommended-Products {
  padding-bottom: 10px;
}

.img__location {
  width: 13.9px;
  margin: 1px 8px 1px 0;
  object-fit: contain;
}
.img__home {
  object-fit: contain;
  margin-right: 8px;
}
.img__search {
  margin: 1.5px 12px 0.5px 0;
  object-fit: contain;
}
.img__phone {
  margin-top: 8px;
}

.active {
  color: #0497d8;
  border-bottom: 4px solid #0497d8;
}
.active-application {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px #1d57d9;
  background-color: var(--white);
}
.active-scroll {
  background-color: #0497d8;
}

.Hot-sellers {
  height: 24px;
  margin: 44px 24px 0 0;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #505050;
}

.Application__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 300px;
  margin-bottom: 70px;
}
.Application--item {
  width: 25%;
  height: 280px;
  margin: 42px 24px 14px 0;
  padding: 13px 12px 20px 12px;
}
.Application--heading {
  height: 24px;
  margin-top: 14px;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #505050;
}
.Application--heading-active {
  color: #0497d8;
  font-weight: bold;
}

.cerulean {
  background-color: #0497d8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: #23499f;
}

/*# sourceMappingURL=style.css.map */
