$blue-color: #23499f;
$gray-l-1: #f6f6f6;
$text-color: #2a2a2a;
$gray-m-1: #d9d9d9;
$gray-d-1: #888888;
$gray-d-3: #2a2a2a;
$cerulean: #0497d8;

// Mixin
@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}

@mixin text($font-size: 14px, $font-weight: normal, $text-color: $gray-d-3) {
  font-size: $font-size;
  font-weight: $font-weight;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $text-color;
  font-family: ProximaNova;
}
// Tablet
@media only screen and (max-width: 1024px) {
  .Rectangle {
    display: none;
  }
  .img {
    &__search {
      margin: 1.5px 12px 0.5px 13px;
    }
  }

  .header {
    &__logo {
      @include flex(center, center);
      margin: 13.6px 0 11.9px 0;
    }

    &__menu {
      display: none;
    }
    &__info {
      background-color: #2a2a2a;
      color: #fff;
      height: 75.4px;
    }

    &__input,
    &__button {
      display: none;
    }
    &__delivery {
      display: none;
    }
    &__search {
      display: none;
    }
    &__contact {
      display: none;
    }
    &__mobile {
      &--personal {
        display: flex;
      }
      &--list {
        @include flex(center, flex-start);
      }
    }
  }
}

// Mobile
@media only screen and (max-width: 767px) {
 
}
