$blue-color: #23499F;
$gray-l1: #f6f6f6;
$text-color: #2a2a2a;

.app {
    max-width: 1920px;
    margin: 0 auto;
    color: $text-color;
}

.ul {
    list-style: none;
}

.a {
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;   
}

.Rectangle {
    background-color: $gray-l1;
    // width: 1920px;
    height: 43px;
    margin: 0 0 18.8px;
    
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    &__container {
        @include flex(flex-start, space-between);
    }
    &__nav {
        @include flex(flex-start, space-between);
        margin: 9px 0 13px 0;
        height: 19px;
        &--item {
            margin-right: 25px;
        }
        &--title {
            color: $blue-color;
        }
    }
    &__list {
        @include flex(flex-start, space-between);
        margin: 9px 0 13px 0;
        height: 19px;
    }
    &__item {
        margin: 0 20px;
        font-size: 16px;
        height: 21px;
        font-weight: bold;
    }
}