$blue-color: #23499f;
$gray-l-1: #f6f6f6;
$text-color: #2a2a2a;
$gray-m-1: #d9d9d9;
$gray-d-1: #888888;
$gray-d-3: #2a2a2a;
$cerulean: #0497d8;

// Font
@font-face {
  font-family: ProximaNoVa;
  src: url(./assets/fonts/ProximaNova_Regular.otf);
}
@font-face {
  font-family: ProximaNova;
  src: url(./assets/fonts/ProximaNova_Bold.otf);
  font-weight: bold;
}

.html {
  font-size: 62.5%;
}
.app {
  max-width: 1920px;
  margin: 0 auto;
  color: $text-color;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.ul {
  list-style: none;
  padding-left: 0;
}

.a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}

@mixin text($font-size: 14px, $font-weight: normal, $text-color: $gray-d-3) {
  font-size: $font-size;
  font-weight: $font-weight;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $text-color;
  // font-family: ProximaNova;
}

.nav {
  @include flex(center, space-between);
  &__left {
    @include flex(flex-start, flex-start);
    margin: 11px 130px 12px 0;
    // height: 19px;
    // width: 50%;
    &--item {
      margin-right: 37px;
      @include flex(center, flex-start);
    }
    &--title {
      // font-family: ProximaNova;
      color: $blue-color;
      font-weight: bold;
      margin-left: 6px;
    }
  }
  &__right {
    &--list {
      @include flex();
    }
    &--list a {
      text-decoration: none;
      @include text(16px, bold);
      margin-left: 37px;
      &:hover {
        color: $cerulean;
      }
    }
  }
}

// Header
.header {
  &__info {
    background-color: #fff;
  }
  &__logo {
    width: 22%;
    @include flex(center, flex-start);
    &--img {
      width: 37px;
      height: 58.5px;
      object-fit: contain;
    }
  }
  &__logo h1 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-left: 9px;
    padding-bottom: 2px;
  }
  &__search {
    width: 40%;
    height: 48px;
    margin: 24px 60.6px 25px 25px;
    padding: 14.5px 276px 13.5px 16px;
    border-radius: 10px;
    border: solid 2px $gray-m-1;
    @include flex(center);
  }
  &__input {
    border: 0;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    // font-family: ProximaNova;
    flex-grow: 1;
    margin-right: 190px;
    min-width: 220px;
  }
  &__button {
    background-color: $blue-color;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    // font-family: ProximaNova;
    height: 48px;
    // margin-left: 224px;
    padding: 13px 29px 16px 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  &__delivery {
    @include flex(center, flex-start);
    width: 20%;
    height: 48px;
    &--item {
      @include text(14px, bold, #505050);
      @include flex(flex-start, space-between, wrap);
      margin-left: 8px;
    }
    &--time {
      font-size: 22px;
      font-weight: 300;
      margin-top: 1px;
    }
  }
  &__contact {
    width: 20%;
    @include flex(center, flex-end);
    &--phone-number {
      height: 37px;
      // font-family: ProximaNova;
      margin: 10px 8px 0 2.8px;
      @include text(28px, normal);
    }
  }
  &__menu {
    width: 100%;
    height: 50px;
    background-color: #3b3a3b;
    @include text(14px, bold, white);
    &--list {
      @include flex(center, space-between);
      color: #fff;
    }
    &--list > li {
      padding: 16px 35px 15px 39px;
      :hover {
        color: $cerulean;
      }
    }
    &--list a {
      text-decoration: none;
      color: #fff;
    }
    &--right {
      @include flex(center, space-between);
      // @include text(14px, bold);
    }
    &--home {
      @include text(14px, bold, white);
      margin-left: 8px;
    }
  }
  &__login {
    padding: 15px 20px 16px 33px;
    @include flex(center);
    color: #fff;
    &:hover {
      cursor: pointer;
      color: $cerulean;
    }
  }
  &__cart {
    padding: 14px 7px 15px 34px;
    @include flex(center);
    color: #fff;
    &:hover {
      cursor: pointer;
      color: $cerulean;
    }
  }
  &__order {
    padding: 4.1px 9.6px;
    margin-right: 24px;
    margin-bottom: 6px;
    background-color: $cerulean;
    border-radius: 20px;
    &--text {
      @include text(14px, bold);
      text-align: center;
      color: #fff;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__mobile {
    &--list {
      display: none;
      width: 15%;
    }
    &--icon {
      padding: 5px 20px;
      margin-top: 2px;
    }
    &--line {
      width: 20px;
      height: 2px;
      margin: 5px 0 0;
      background-color: white;
    }
    &--search {
      padding: 25px 7px 18px 18px;
    }
    &--personal {
      @include flex(center, flex-end);
      width: 15%;
      display: none;
    }
    &--user {
      width: 30.5px;
      height: 30.5px;
      object-fit: contain;
      margin: 7px 31px 0px 0px;
    }
    &--cart {
      margin: 9px 16px 0 0;
    }
    &--checkbox {
      display: none;
      &:checked ~ .header__mobile--overlay {
        display: block;
      }
      &:checked ~ .header__mobile--mobile {
        display: block;
        transform: translateX(0%);
      }
    }
    &--overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
      display: none;
    }
    &--mobile {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 300px;
      max-width: 100%;
      background-color: #fff;
      transform: translateX(-100%);
      transition: transform linear 0.3s;
      display: none;
      z-index: 1;
      &--list {
        margin: 42px 0 0 32px;
      }
      &--list > li {
        margin: 20px 0;
      }
      &--list a {
        width: 100%;
        text-decoration: none;
        position: relative;
        @include text(16px, bold);
        &:hover {
          color: $cerulean;
        }
        &::after {
          position: absolute;
          content: "";
          top: 0;
          bottom: 0;
          height: 22px;
          width: 180px;
        }
      }
    }
    &--close {
      &--img {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }
}

// Body
.home {
  margin: 25px 0 57px 0;
  &__category {
    @include text(12px, normal, $gray-d-1);

  }
}

.Rectangle {
  background-color: $gray-l-1;
  // width: 1920px;
  height: 43px;
  // font-family: ProximaNova;
  @include text(14px, normal);
  &__container {
    @include flex(center, space-between);
  }

  &__phone {
    width: 24.4px;
    height: 24.5px;
    margin: 9.5px 5.8px 3px 0;
    object-fit: contain;
    border: solid 2px $gray-d-3;
  }
  &__container-4 {
    @include flex(center, space-between);
  }
  &__login {
    @include flex(center, flex-start);
    &:hover {
      cursor: pointer;
    }
  }

  &-161538 {
    width: 100%;
    height: 9px;
    // margin: 35px 0 44px 81px;
    border-radius: 4.5px;
    border: solid 1px $gray-d-1;
    position: relative;
  }
  &-161537 {
    position: absolute;
    width: 25%;
    height: 8px;
    // margin: 35px 12px 44px 0;
    border-radius: 4.5px;
    margin: 0;
  }
  &-161120 {
    width: 100%;
    height: 200px;
  }
}

.Home {
  &-Contact {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
  }
}

.Contact-Us {
  width: 100%;
  margin: 57px 26px 18px 0;
  // font-family: ProximaNova;
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: $gray-d-3;
  margin-bottom: 18px;
}

.Product {
  &-Selection-Tool {
    @include flex(center, center);
    flex-direction: row;
    width: 100%;
    gap: 56px;
    // margin: 18px 95px 3px 115px;
    // font-family: ProximaNova;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: left;
    border-bottom: 1px solid $blue-color;
    margin-bottom: 35px;
  }
  &-Applications {
    padding-bottom: 10px;
  }
  &-Questions {
    padding-bottom: 10px;
  }
  &-Recommended-Products {
    padding-bottom: 10px;
  }
}

.img {
  &__location {
    width: 13.9px;
    margin: 1px 8px 1px 0;
    object-fit: contain;
  }
  &__home {
    object-fit: contain;
    margin-right: 8px;
  }
  &__search {
    margin: 1.5px 12px 0.5px 0;
    object-fit: contain;
  }
  &__phone {
    margin-top: 8px;
  }
  &__truck {
    width: 62.5px;
    height: 35px;
    margin: 2.5px 17px 5.5px 0px;
  }
}

.active {
  color: $cerulean;
  border-bottom: 4px solid $cerulean;
  &-application {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #1d57d9;
    background-color: var(--white);
  }
  &-scroll {
    background-color: $cerulean;
  }
}

.Hot-sellers {
  height: 24px;
  margin: 44px 24px 0 0;
  // font-family: ProximaNova;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #505050;
}

.Application {
  &__container {
    @include flex(center);
    height: 300px;
    margin-bottom: 70px;
  }
  &--item {
    width: 25%;
    height: 280px;
    margin: 42px 24px 14px 0;
    padding: 13px 12px 20px 12px;
  }
  &--heading {
    height: 24px;
    margin-top: 14px;
    // font-family: ProximaNova;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #505050;
    &-active {
      color: $cerulean;
      font-weight: bold;
    }
  }
}

.cerulean {
  background-color: $cerulean;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: $blue-color;
}
