$blue-color: #23499f;
$gray-l-1: #f6f6f6;
$text-color: #2a2a2a;
$gray-m-1: #d9d9d9;
$gray-d-3: 2a2a2a;
.html {
  font-size: 62.5%;
}
.app {
  max-width: 1920px;
  margin: 0 auto;
  color: $text-color;
}

.ul {
  list-style: none;
}

.a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}

// Button
.Primary_BTN {
  width: 104px;
  height: 46px;
  margin: -16px 59.6px 25px 440px;
  padding: 15px 30px 16px;
  background-color: $blue-color;
  color: #fff;
  //   border-radius-top-right: 10px;
  //   border-radius-bottom-right: 10px;
}



.Rectangle {
  background-color: $gray-l-1;
  // width: 1920px;
  height: 43px;
  margin: 0 0 18.8px;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  &-2-5 {
    width: 25%;
  }
  &__container {
    @include flex(center, flex-start);
  }
  &__nav {
    @include flex(flex-start, space-between);
    margin: 9px 0 13px 0;
    height: 19px;
    &--item {
      margin-right: 25px;
    }
    &--title {
      color: $blue-color;
      font-weight: bold;
    }
  }
  &__list {
    @include flex(flex-start, space-between);
    margin: 9px 0 13px 0;
    height: 19px;
  }
  &__item {
    margin: 0 20px;
    font-size: 16px;
    height: 21px;
    font-weight: bold;
  }

  &-161073 {
    height: 190px;
    margin: 0 0 25px;
    background-color: #fff;
  }
  &-161335 {
    width: 20%;
    height: 58.5px;
    @include flex(center, flex-start);
  }
  &-161336 {
    width: 30.5px;
    height: 53.6px;
    background-image: linear-gradient(
      to right,
      #700d14,
      #8f0915 0%,
      #a90616 0%,
      #bf0417 0%,
      #d00218 1%,
      #dc0018 1%,
      #e30018 1%,
      #e50019 2%
    );
  }
  &__logo {
    font-size: 1.8rem;
    font-weight: bold;
  }
  &-161314 {
    width: 40%;
    height: 48px;
    margin: 24px 60.6px 25px 26px;
    padding: 14.5px 287px 13.5px 16px;
    border-radius: 10px;
    border: solid 2px $gray-m-1;
  }
  &__phone {
    width: 24.4px;
    height: 24.5px;
    margin: 9.5px 5.8px 3px 0;
    object-fit: contain;
    border: solid 2px $gray-d-3;
  }
}

.Group {
  &-172941 {
    @include flex(flex-start, space-between);
    width: 196.4px;
    height: 48px;
    margin: 24px 80.8px 25px 59.6px;
  }
}

.Default-welcome-msgl {
  width: 126px;
  height: 19px;
  margin: 0 0 29px 14px;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #505050;
}

.Path {
  &-262 {
    width: 56.5px;
    height: 37px;
    margin: 5.5px 14px 5.5px 0;
    background-color: $gray-d-3;
  }
}

.Create-an-Account {
  width: 166px;
  height: 37px;
  margin: 0 0 0 5.8px;
  font-family: ProximaNova;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: $gray-d-3;
}
