$blue-color: #23499f;
$gray-l-1: #f6f6f6;
$text-color: #2a2a2a;
$gray-m-1: #d9d9d9;
$gray-d-1: #888888;
$gray-d-3: #2a2a2a;
$cerulean: #0497d8;

.html {
  font-size: 62.5%;
}
.app {
  max-width: 1920px;
  margin: 0 auto;
  color: $text-color;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.ul {
  list-style: none;
  padding-left: 0;
}

.a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}

.nav {
  @include flex(center, space-between);
  &__left {
    @include flex(flex-start, flex-start);
    margin: 11px 130px 12px 0;
    // height: 19px;
    // width: 50%;
    &--item {
      margin-right: 37px;
      @include flex(center, flex-start);
    }
    &--title {
      // font-family: ProximaNova;
      color: $blue-color;
      font-weight: bold;
      margin-left: 6px;
    }
  }
  &__right {
    &--list {
      @include flex();
    }
    &--list a {
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: $gray-d-3;
      margin-left: 38px;
    }
  }
}

.header {
  &__info {
    background-color: #fff;
  }
  &__logo {
    width: 22%;
    height: 58.5px;
    @include flex(center, flex-start);
    &--img {
      width: 37px;
      height: 58.5px;
      object-fit: contain;
    }
  }
  &__logo h1 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-left: 10px;
    padding-bottom: 2px;
  }
  &__search {
    width: 40%;
    height: 48px;
    margin: 24px 60.6px 25px 25px;
    padding: 14.5px 276px 13.5px 16px;
    border-radius: 10px;
    border: solid 2px $gray-m-1;
    @include flex(center);
  }
  &__input {
    border: 0;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    // font-family: ProximaNova;
    flex-grow: 1;
    margin-right: 235px;
  }
  &__button {
    background-color: $blue-color;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    // font-family: ProximaNova;
    height: 48px;
    // margin-left: 224px;
    padding: 13px 29px 16px 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  &__delivery {
    @include flex(center, flex-start);
    width: 20%;
    height: 48px;
    &--item {
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: normal;
      text-align: left;
      color: #505050;
      @include flex(flex-start, space-between, wrap);
      margin-left: 8px;
    }
    &--time {
      font-size: 22px;
      font-weight: 300;
      margin-top: 0px;
    }
  }
}

.Rectangle {
  background-color: $gray-l-1;
  // width: 1920px;
  height: 43px;
  // font-family: ProximaNova;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  &__container {
    @include flex(center, flex-start);
  }

  &__contact {
    width: 20%;
    @include flex(center, flex-end);
  }
  &__phone {
    width: 24.4px;
    height: 24.5px;
    margin: 9.5px 5.8px 3px 0;
    object-fit: contain;
    border: solid 2px $gray-d-3;
  }
  &-Copy-4 {
    width: 100%;
    height: 50px;
    background-color: #3b3a3b;
    color: #fff;
  }
  &__container-4 {
    @include flex(center, space-between);
  }
  &-Copy--list {
    @include flex(center, space-between);
    color: #fff;
  }
  &__login {
    @include flex(center, flex-start);
    &:hover {
      cursor: pointer;
    }
  }
  &-Copy--item {
    width: 74px;
    height: 19px;
    // font-family: ProximaNova;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    margin: 16px 0 16px 40px;
    &:hover {
      cursor: pointer;
      color: $gray-d-1;
    }
  }
  &-161072 {
    padding: 16px 33px 15px 37px;
    @include flex(center);
  }
  &-161538 {
    width: 100%;
    height: 9px;
    // margin: 35px 0 44px 81px;
    border-radius: 4.5px;
    border: solid 1px $gray-d-1;
    position: relative;
  }
  &-161537 {
    position: absolute;
    width: 25%;
    height: 8px;
    // margin: 35px 12px 44px 0;
    border-radius: 4.5px;
    margin: 0;
  }
  &-161120 {
    width: 100%;
    height: 200px;
  }
}

.Path {
  &__img {
    width: 62.5px;
    height: 35px;
    margin: 2.5px 17px 5.5px 0px;
  }
  &-74 {
    padding: 4.1px 9.6px 4.1px;
    background-color: $cerulean;
    border-radius: 20px;
  }
  &--text {
    // font-family: ProximaNova;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
  }
}

.Create-an-Account {
  width: 166px;
  height: 37px;
  margin: 0 0 0 5.8px;
  // font-family: ProximaNova;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: $gray-d-3;
}

.Home {
  // font-family: ProximaNova;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  margin-left: 8px;
  &-Breadcrumbs {
    margin: 25px 0 57px 0;
  }
  &-Category {
    // font-family: ProximaNova;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $gray-d-1;
  }
  &-Contact {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
  }
}

.Contact-Us {
  width: 100%;
  margin: 57px 26px 18px 0;
  // font-family: ProximaNova;
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: $gray-d-3;
  margin-bottom: 18px;
}

.Product {
  &-Selection-Tool {
    @include flex(center, center);
    flex-direction: row;
    width: 100%;
    gap: 56px;
    // margin: 18px 95px 3px 115px;
    // font-family: ProximaNova;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: left;
    border-bottom: 1px solid $blue-color;
    margin-bottom: 35px;
  }
  &-Applications {
    padding-bottom: 10px;
  }
  &-Questions {
    padding-bottom: 10px;
  }
  &-Recommended-Products {
    padding-bottom: 10px;
  }
}

.img {
  &__location {
    width: 13.9px;
    margin: 1px 8px 1px 0;
    object-fit: contain;
  }
  &__home {
    object-fit: contain;
    margin-right: 8px;
  }
  &__search {
    margin: 1.5px 12px 0.5px 0;
    object-fit: contain;
  }
}

.active {
  color: $cerulean;
  border-bottom: 4px solid $cerulean;
  &-application {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #1d57d9;
    background-color: var(--white);
  }
  &-scroll {
    background-color: $cerulean;
  }
}

.Hot-sellers {
  height: 24px;
  margin: 44px 24px 0 0;
  // font-family: ProximaNova;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #505050;
}

.Application {
  &__container {
    @include flex(center);
    height: 300px;
    margin-bottom: 70px;
  }
  &--item {
    width: 25%;
    height: 280px;
    margin: 42px 24px 14px 0;
    padding: 13px 12px 20px 12px;
  }
  &--heading {
    height: 24px;
    margin-top: 14px;
    // font-family: ProximaNova;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #505050;
    &-active {
      color: $cerulean;
      font-weight: bold;
    }
  }
}

.cerulean {
  background-color: $cerulean;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: $blue-color;
}
